:plain
  Hello, #{@user.name}!!
  Welcome to our Eatwit.

  Thank you for eatwit user registration.
  so, You need to activate to get started.

  Please complete the activation from the link below.

  #{registration_url + "?token=" + @token}
